<div class="menu-item" *ngIf="menuItem">
    <figure class="menu-item-image">
        <img src="../../assets/menu/margherita.jpg" alt="Margherita Pizza">
    </figure>
    <div class="menu-item-details">
        <div class="menu-item-text">
            <h3 class="menu-item-title">{{menuItem.name}}</h3>
            <p class="menu-item-description">Classic old fashioned delicious pizza made in Italy.</p>
            <b>{{menuItem.price}}$</b>
            <p>Quantity: {{menuItem.quantity}}</p>
        </div>
        <div class="menu-item-buttons" *ngIf="menuItem && menuItem.removedIngredients && menuItem.removedIngredients.length > 0">
            <ul>
                <li>Removed ingredients:</li>
                <li *ngFor="let ingredient of menuItem.removedIngredients">{{ ingredient.name }}</li>
            </ul>
        </div>
        
    </div>
</div>
