<div class="d-flex flex-row">
    <div class="w-100">
        <h1>Menu</h1>
        <h3>Margherita</h3>
        <img src="../../assets/menu/margherita.jpg" style="width:200px;">
        <button class="btn btn-primary" style="margin-left:10px;">Add To Order</button>
    </div>
    <div class="w-100">
        <h1>Your order:</h1>
        <div>
        <h3>Margherita</h3>
        <img src="../../assets/menu/margherita.jpg" style="width:200px;">
        <button class="btn btn-primary" style="margin-left:10px;">Edit ingredients</button>
        <button class="btn btn-primary" style="margin-left:10px;">Remove</button>
        </div>
    </div>
</div>