<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="d-flex justify-content-center">
      <h1>Build your order!</h1>
    </div>
    <tabset [justified]="true" #staticTabs>
      <tab heading="Table">
        <app-table-picker (validationSuccess)="swapTab(0)" />
      </tab>
      <tab heading="Menu">
        <app-menu-maker (validationSuccess)="swapTab(1)" />
      </tab>
      <tab heading="Checkout">
        <app-checkout/>
      </tab>
    </tabset>
  </body>
</html>
