<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="d-flex container-fluid">
      <div>
        <img src="./assets/logo.png" style="background-size: cover; width:150px; height: 150px;" alt="">
      </div>
      <div class="">
        <div>
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" style="font-size: 1.5em;" href="#">HOME</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex">
        <button class="btn btn-secondary btn-lg w-50">REGISTER</button>
        <button class="btn btn-secondary btn-lg w-50" style="margin-left: 20px;">LOGIN</button>
      </div>
    </div>
  </nav>